body {
	background-color: silver;
	font-family: "Lucida Grande", Arial, Geneva, sans-serif;
}
#main {
}
#head {
	background-color: black;
	font-family: "Gill Sans", sans-serif;
	margin-left: auto;
	margin-bottom: 30px;
	margin-right: auto;
	margin-top: 30px;
	padding: 30px;
	height: 100px;
	width: 800px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
#body {
	background-color: #D1D1D1;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	height: auto;
	width: 800px;
}
tr {
	background-color: #C1C1C1;
	font-size: 14px
}
th {
	background-color: #D1D1D1;
	font-size: 16px;
}
#body a {
	color: grey;
	text-decoration: none;
}
#body a:hover {
	color: green;
	text-decoration: none;
}
#footer {
	background-color: #D1D1D1;
	height: 25px;
	width: 860px;
	margin: auto;
	padding: 0px;
	text-align: center;
	line-height: 2em;
	margin-bottom: 30px;
	font-size: 13px;
	font-family: Georgia, "Times New Roman", Times, serif;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
#menu, #admin {
	color: black;
	margin: auto;
	margin-top: -60px;
	height: 30px;
	width: 600px;
	font-family: fantasy;
	font-size: 15px;
	background-color: #d1d1d1;
	-webkit-border-top-left-radius: 16px;
	-moz-border-radius-topleft: 16px;
	border-top-left-radius: 16px;
	-webkit-border-top-right-radius: 16px;
	-moz-border-radius-topright: 16px;
	border-top-right-radius: 16px;
}
#admin {
	margin-top: -5px;
	-webkit-border-radius: 0px;
	-mox-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-bottom-left-radius: 16px;
	-moz-border-radius-bottomleft: 16px;
	border-bottom-left-radius: 16px;
	-webkit-border-bottom-right-radius: 16px;
	-moz-border-radius-bottomright: 16px;
	border-bottom-right-radius: 16px;
}
#menu ul, #admin ul {
	padding-top: 5px;
	padding-left: 5px;
	text-align: center;
	width: 578px;
	margin: 0px;
}
#menu li, #admin li {
	margin-left: 10px;
	display: inline;	
}
#menu li a, #admin li a {
	color: black;	
	text-decoration: none;
}
#menu li a.active, #admin li a.active  {
	color: green;
}
#menu li a:hover, #admin li a:hover {
	color: grey;
}
#menu li a.new {
	color: red;
}
h1 {
	margin: 0px;
	font-size: 50px;
	text-align: center;
	color: #cccccc;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom: black solid 1px; 
}
#body p:first-letter {
	font-size: 20px;
}
#body p {
	font-family: Georgia, "Times New Roman", Times, serif;
}

table tr.rowEven {
	background-color: #E0E0E0;
}

table tr.rowOdd {
	background-color: #D1D1D1; 
}

#item {
	border: 0.2em solid black;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
}

#item #header {
	background: silver;
	-webkit-border-radius: 1em 1em 0em 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	border-radius: 1em 1em 0em 0em;
	overflow: auto;
	padding-top: .1em;
	padding-bottom: 0.2em;
	padding-right: 1em;
}

#item #time {
	text-align: right;
	float: right;
}

#item #author {
	text-align: left;
	float: left;
	margin-left: 1em;
}

#item #data {
	margin: 1em;
}

fieldset{
	border: #999999 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
textarea{
	background: #f0f0f0;
	border: #999999 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
	resize: vertical;
}
textarea:hover{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
textarea:active{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=text]{
	border: #999999 solid 1px;
	background: #f0f0f0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 5px;
	padding: 3px;
}
input[type=text]:hover{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=text]:active{
	border: #555555 solid 1px;
	background: #f0f0f0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=text]:disabled{
	background: #CDCDCE;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=password]{
	border: #999999 solid 1px;
	background: #f0f0f0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 5px;
	padding: 3px;
}
input[type=password]:hover{
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=password]:active{
	border: #555555 solid 1px;
	background: #f0f0f0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=password]:disabled{
	background: #CDCDCE;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
select{
	margin-bottom: 5px;
	border: #555555 solid 1px;
	background: #f0f0f0;
}
input[type=submit]{
	background: #f0f0f0;
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=submit]:hover{
	background: #DDDDDD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=button]{
	background: #f0f0f0;
	border: #555555 solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
input[type=button]:hover{
	background: #DDDDDD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
blockquote {
    background: #ebebeb none 6px 8px no-repeat;
    background-color: #EBEADD;
    background-image: url("./quote.gif");
    border-color:#DBDBCE;
    border: 1px solid #dbdbdb;
    font-size: 0.95em;
    margin: 0em 1px 0 0px;
    overflow: hidden;
    padding: 5px;
}
blockquote blockquote {
    background-color:#EFEED9;
    font-size: 1em;
    margin: 0.5em 1px 0 15px;   
}
blockquote blockquote blockquote {
    background-color: #EBEADD;
}
blockquote cite {
    font-style: normal;
    font-weight: bold;
    margin-left: 20px;
    display: block;
    font-size: 0.9em;
}
dl.codebox {
    padding: 3px;
    background-color: #FFFFFF;
    border-color: #C9D2D8;
    border: 1px solid #d8d8d8;
    font-size: 1em;
}
dl.codebox dt {
    text-transform: uppercase;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 3px;
    font-size: 0.8em;
    font-weight: bold;
    display: block;
}
blockquote dl.codebox {
    margin-left: 0;
}
dl.codebox code {
    overflow: auto;
    display: block;
    height: auto;
    max-height: 200px;
    white-space: normal;
    padding-top: 5px;
    font: 0.9em Monaco, "Andale Mono","Courier New", Courier, mono;
    line-height: 1.3em;
    color: #2E8B57;
    margin: 2px 0;
}