<?php
/*
 * Configuration settings for LeagueConnect
 */

// MySQL Connection Settings
class MySQLSettings
{
    const Server = 'localhost';
    const User = 'leagueconnect';
    const Password = 'leagueconnect';
    const Database = 'leagueconnect';
}

class Config
{
    const LeagueName = 'WebLeague';
    const ContactEmail = 'admin@localhost';
}

?>
