<?php
/*
 * Configuration settings for LeagueConnect
 */

// Database Connection Settings
class DatabaseSettings
{
    const Server = 'localhost';
    const User = 'leagueconnect';
    const Password = 'leagueconnect';
    const Database = 'leagueconnect';
}

class Config
{
    const LeagueName = 'WebLeague';
    const ContactEmail = 'admin@localhost';

    const ErrorLogFile = 'errors.log';
}

?>
